h1 {text-align: center;
    font-style: italic;
    color: #BC4749;}
.bio {text-align: center;}
.myImg {display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 425px;
        height: 250px;
}
.myImg .img-top{
        display: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 425px;
        height: 250px;
}
.myImg:hover .img-top{
    display: inline;
}
#topIconLinks{
    display: relative;   
}

#topIconLinks .fa-linkedin{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 20px;
}

#topIconLinks .fa-instagram{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
}
